%fieldset
  = f.label :name, 'Field Name'
  = f.text_field :name
  = f.label :content
  = f.text_field :content

  = f.label :_destroy, "Remove"
  = f.check_box :_destroy
  %br
  %br
  %br
  = link_to 'Remove', '#', class: "remove_field"
