%section.intro
  %h1= @condition.name
  %p= @condition.description

%section.image{:style => "background-image:url(#{@condition.image.url})"}

%section.steps
  - @condition.repeatables.reverse_each do |br|
    .step
      %h3= br.name
      %p= markdown(br.content)

%section.roles
  %ul.roles
    - @condition.roles.each do |role|
      %a{:href => profession_role_path(role.profession_id, role)}
        = render partial: 'roles/role', :locals => { :role => role }
