-if admin_signed_in?
  %header.admin-header
    =link_to "Sign out", destroy_admin_session_path, :method => :delete, :class => 'button'

    - if professions_index_page
      .upload-form
        =form_tag import_professions_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Upload professions", :class => 'button'
          = link_to "Download CSV", professions_path(format: "csv"), :class => 'button' |
          = link_to "Excel", professions_path(format: "xls"), :class => 'button'

      = link_to 'Add new profession', new_profession_path, :class => 'button'

    - if profession_roles_index_page
      .upload-form
        =form_tag import_profession_roles_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Upload roles", :class => 'button'
          = link_to "Download CSV", profession_roles_path(format: "csv"), :class => 'button' |
          = link_to "Excel", profession_roles_path(format: "xls"), :class => 'button'

      = link_to 'Add new role', new_profession_role_path(@profession), :class => 'button'
      = link_to 'Edit profession', edit_profession_path(@profession), :class => 'button'
      = link_to 'Destroy', profession_path(@profession),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, :class => 'button'

    - if role_show_page
      = link_to 'Edit role', edit_profession_role_path(@profession,@role), :class => 'button'
      = link_to 'Remove role', [@role.profession, @role],         |
          method: :delete,                                       |
          data: { confirm: 'Are you sure?' }, :class => 'button' |


    - if conditions_index_page
      .upload-form
        =form_tag import_conditions_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Upload conditions", :class => 'button'
          = link_to "Download CSV", conditions_path(format: "csv"), :class => 'button' |
          = link_to "Excel", conditions_path(format: "xls"), :class => 'button'

      = link_to 'Add new condition', new_condition_path, :class => 'button'
