
%section.intro
  %h1
    The people who care in the NHS

%section.about
  %p
    Clear, sharable descriptions of the people who care in the NHS, what they do in their roles, and how they fit into the healthcare system.

%section.search
  %h2 Search for a role
  = form_tag(search_results_path, :method => "get", :id => 'search') do
    = text_field_tag :search, params[:search], :placeholder => "Maxillofacial Prosthetist"
    = submit_tag "Search", :name => nil, :class => 'button'

%section.professions
  %h2 Explore professions within the NHS
  = link_to 'Explore by profession', professions_path, :class => 'button'

%section.jobs
  %h2 Browse the jobs people do
  = link_to 'Who does what job', jobs_path, :class => 'button'

%section.contribute
  %h2 Curated by professionals
  %p Roles curated by professionals are on their way, join our mailing list to stay up to date.
  = link_to 'Stay up-to-date', contact_path, :class => 'button'


=render :partial => 'shared/share_links'
