
%section.intro
  %h1
    The people who care in the NHS

%section.about
  %p
    Clear, sharable descriptions of the people who care in the NHS, what they do in their roles, and how they fit into the healthcare system.

%section.search
  %h2 Search for a role
  = form_tag(search_results_path, :method => "get", :id => 'search') do
    = text_field_tag :search, params[:search], :placeholder => "E.g. Porter"
    = submit_tag "Search", :name => nil, :class => 'button'

%section.professions
  %h2 Explore professions within the NHS
  = link_to 'Explore by profession', professions_path, :class => 'button'

%section.jobs
  %h2 Browse by what people might do
  %p Jobs are still being populated, but you can take a look at what we have.
  = link_to 'Browse jobs', jobs_path, :class => 'button'

%section.contribute
  %h2 Who cares by condition
  %p Curated by professionals, discover who is involved in the care and treatment of specific conditions.
  = link_to 'Browse conditions', conditions_path, :class => 'button'


=render :partial => 'shared/share_links'
