.intro
  - if @roles.present?
    %h1 #{pluralize( @roles.count, 'result' )} for "#{params[:search]}"


- if @roles.present?
  %ul.roles
    - @roles.each do |role|
      %a{:href => profession_role_path(role.profession_id, role)}
        = render partial: 'roles/role', :locals => { :role => role }
- else
  %p We couldn't find any NHS roles containing "#{params[:search]}".
  
  %p Try searching again:
  
  = form_tag(search_results_path, :method => "get", :id => 'search') do
    = text_field_tag :search, params[:search], :placeholder => "E.g. Maxillofacial Prosthetist"
    = submit_tag "Search", :name => nil, :class => 'button'

  //%section.professions
  //%p Or explore the NHS:
  //= link_to 'Browse all professions', professions_path, :class => 'button'
  //= link_to 'Browse all jobs', jobs_path, :class => 'button'
  //= link_to 'Suggest an update', contact_path, :class => 'button'


