.intro
  %h1
    = @role.name

.content
  %p
    -if @role.description?
      = @role.description
    -else
      Improve the information about this role #{link_to('get in touch', contact_path)}
  %br
  %p.social-container
    %a.twitter.prettySocial.button{"data-description" => "#{truncate(@role.description, length: 95)}", "data-type" => "twitter", "data-url" => url_for(:only_path => false), "data-via" => "whocaresapp", :href => "#", :title => "Share on Twitter"}Share on Twitter

  %br
  %hr
  %ul.jobs
    - @role.jobs.each do |job|
      %li.job-tag
        = link_to job.title, job_path(job), :class => 'tag'

%script.source{:type => "text/javascript"}
  $('.prettySocial').prettySocial();
