.intro
  = link_to @role.profession.name, profession_roles_path(@profession), :class => 'return button'
  %h1
    = @role.name
.content
  %p
    = @role.description
  %p
    = tweet_button

  %ul.tags
    - @role.tags.each do |tag|
      %li
        = link_to tag.name, tag_path(tag), :class => 'tag'


