!!!
%html
  %head
    %title Who Cares?
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{body_tags}
    - if current_page?(root_path) && !signed_in?
      = link_to "Sign In", new_contributor_session_path, :class => 'contributor_sign_in button'
    = render 'shared/control_panel'
    = yield
    / -if Rails.env.development?
    /   #params
    /     =params.inspect
